MINIO_BUCKETNAME=gpsoci
MOBILE_BUCKETNAME=actionterrain
MINIO_SECRET_KEY=4EdPh1NGAf2hpMb1tBKIyegaAUAV1jK0
MINIO_ACCESS_KEY=0KhnuUsVSiVULtri
MINIO_PORT=9000
MINIO_ENDPOINT=192.168.86.61
DATABASE_URL=postgresql://user:password@localhost:5432/db?schema=public